In [14]:
import pandas as pd
import smtplib
import requests

In [15]:
def get_chuck_norris_joke():
    url = "https://api.chucknorris.io/jokes/random"
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        joke = data["value"]
        return joke
    else:
        return "Falha ao obter a piada de Chuck Norris."

In [16]:
df = pd.read_csv("lista_api_com_emails.csv")

In [17]:
display(df)

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil,email
0,3392,3,23.0,cientista,19114.120,3.0,4.0,3.0,4.0,3.0,...,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0,tiagonys@hotmail.com
1,16727,8,24.0,medico,114838.410,2.0,5.0,7.0,3.0,11.0,...,212.235602,alto_gasto_pagamento_alto,742.922191,Standard,1,0,1,0,0,danikreuza@hotmail.com
2,47624,8,45.0,jornalista,31370.800,1.0,6.0,12.0,2.0,1.0,...,22.298057,baixo_gasto_pagamento_baixo,273.262377,Good,0,0,0,0,0,tiagonysdias@gmail.com
3,42603,8,41.0,professor,33751.270,5.0,5.0,20.0,3.0,16.0,...,25.192562,alto_gasto_pagamento_alto,443.882797,Standard,1,0,1,1,0,tiagonys@hotmail.com
4,49323,8,33.0,engenheiro,88640.240,3.0,6.0,1.0,2.0,4.0,...,77.841343,alto_gasto_pagamento_alto,733.053344,Good,0,0,0,0,0,danikreuza@hotmail.com
5,15941,1,35.0,empresario,54392.160,6.0,4.0,14.0,3.0,10.0,...,33.349569,baixo_gasto_pagamento_alto,378.540480,Standard,0,0,1,0,1,tiagonys@hotmail.com
6,27750,1,39.0,gerente,8701.545,6.0,5.0,32.0,7.0,23.0,...,13.066210,baixo_gasto_pagamento_alto,272.298468,Poor,1,1,1,0,1,danikreuza@hotmail.com

In [18]:


# ConfiguraÃ§Ãµes para o envio de e-mails
smtp_server = 'smtp.outlook.com'  # Substitua pelo seu servidor SMTP
smtp_port = 587  # Substitua pela porta do seu servidor SMTP
smtp_user = 'adicione seu email aqui:'  # Substitua pelo seu e-mail
smtp_password = 'sua senha de email'  # Substitua pela sua senha

In [21]:
# Loop atravÃ©s das linhas do DataFrame
for index, row in df.iterrows():
    profissao = row['profissao']
    email_destinatario = row['email']

    # Obtenha uma piada do Chuck Norris
    joke = get_chuck_norris_joke()

    # ConfiguraÃ§Ã£o do e-mail
    assunto = 'Piada do Chuck Norris para ' + profissao
    mensagem = f"Ola {profissao} '' {joke}"
    mensagem = mensagem.encode('utf-8')

    # Conecte-se ao servidor SMTP e envie o e-mail
    server = smtplib.SMTP(smtp_server, smtp_port)
    server.starttls()
    server.login(smtp_user, smtp_password)
    server.sendmail(smtp_user, email_destinatario, f'Subject: {assunto}\n\n{mensagem}')
    server.quit()

print("E-mails enviados com sucesso.")

E-mails enviados com sucesso.